<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <a href="{% url 'createProduct' %}" class="btn btn-primary mb-3">Create</a>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Category</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in queryset %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.name }}</td>
                <td>
                    <a href="{% url 'detailProduct' product.id %}" class="btn btn-info btn-sm">Detail</a>
                    <a href="{% url 'deleteProduct' product.id %}" class="btn btn-danger btn-sm">Delete</a>
                    <a href="{% url 'updateProduct' product.id %}" class="btn btn-warning btn-sm">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
